* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,
a:focus,
a:hover {
    text-decoration: none;
}
body {
    background-image: url(../imgs/map.jpg);
    background-size: cover;
    background-position-x: center;
}

/* 导航条 */
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar a,
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a,
.dropdown-menu>li>a {
    color: #fff;
}
.dropdown-menu {
    border: 0;
    background-color: transparent;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: transparent;
}

.map-outer {
    margin-top: -20px;
    height: 600px;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 50px;
}
.logo {
    width: 20rem;
    margin: 0 auto;
    display: block;
    transition: all 0.1s;
    animation: rotate 5s linear infinite;
}

.map-inner {
    font-size: 10rem;
    text-align: center;
    color: #fff;
    transition: all 0.5s;
    display: block;
    margin: 0 auto;
}


.map-desc {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}
/* 背景 */
.diy-bg {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
}


/* API */
.item-outer {
    padding: 0;
    padding: 15px;
}

.item-inner {
    display: block;
    text-decoration: none;
    cursor:pointer;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 0.8rem 2rem;
    font: 24px "Margarine",
    sans-serif;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
}
.item-outer>a:hover {
    color: #fff;
    transform: translateY(-10px) scale(1.05);
}

.footer-text,
.footer-text>a,
.footer-text>a:hover {
    color: #fff;
}

.navbar-bottom {
    margin-top: 30px;
}

@media (max-width: 767px) {
    .map-outer {
        height: 300px;
        padding-top: 25px;
    }
    .logo {
        width: 10rem;
    }
    .map-inner {
        font-size: 5rem;
    }
    .map-desc {
        font-size: 1.5rem;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
}

/* logo旋转 */
@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #cbcbcb;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bbbbbb;
}

::-webkit-scrollbar-track-piece {
    background: #eee;
}


/* 加载动画 */
.loading {
    display: none
}

.loading {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    /* background-color: rgba(250, 250, 250, .9) */
}

.loading img {
    width: 280px;
    height: 210px;
    position: relative;
    top: 45%;
    left: 50%;
    margin-left: -140px;
    margin-top: -105px;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff5a5a;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #5af33f;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #6dc9ff;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}